.heading{
    font: 20px sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 1200px;
}
.block {
    width: 33%;
}
@media screen and (max-width: 700px) {
    .block {
        width: 100%;
    }
}
body {
    font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.line {
    fill: none;
    stroke-width: 1.5px;
}
.focus circle {
    fill: none;
}
.overlay {
    fill: none;
    pointer-events: all;
}
#editor {
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#editor-button {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: darkred;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    text-align: center;
    line-height: 48px;
    font-size: 35px;
}
.hidden {
    display: none;
}

.legend-box{
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 10px;
}
.legend-label{
    display: inline-block;
    line-height: 30px;
    height: 30px;
    padding: 10px;
    vertical-align: top;
}