
html,body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  /*overflow: hidden;*/
}

#graphs{
  position: absolute;
  height:90%;
  width: 100%;
}

.crossover-graph {
    position: absolute;
    width: 50%;
    height: 30%;
}

/*second column*/
#graph1, #graph3, #graph5, #graph7{
  left: 50%;
}
/*second row*/
#graph2, #graph3{
  top: 30%;
}
/*third row*/
#graph4, #graph5{
  top: 60%;
}
/*fourth row*/
#graph6, #graph7{
  top: 90%;
}
/*fifth row*/
#graph8, #graph9{
  top: 120%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.tick {
  font-size: 10px;
}
