
<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> M. Asher</title>
        <meta name="description" content="Template for using javascript for everyday data manipulation">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<style type="text/css">

		</style>

    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div id='chart'></div>
	<script src="../../third/d3.min.js"></script>

	<script>
		var fusiontable_api_key = "AIzaSyDpfNMH_IkouFwgI8y0_6tTQ0437Ncx8cQ";
		var spreadSheet = "1pZ5SIVRIhTkx-DSg5dHVP3AOVlfF3xEZUEFvw6BhCSU";

		var url = "https://docs.google.com/spreadsheets/d/"+spreadSheet+"/export?format=csv&id="+spreadSheet;

        var stats = [];

        d3.csv(url, function(error, data){

            for (var i = 0; i < data.length; i++) {
                data[i].Price = +data[i]["Price"].replace(/[,$+]/g,'').replace(' per week','');
                data[i].Beds = +data[i].Beds;
            };

            for (var i = 0; i < 3; i++) {
                var beds = i+1;
                var filtered = data.filter(function(d){
                    return d["Beds"] == beds
                    && d["Type"] != "House"
                    // && d.Price > 500;
                    // && d["Purpose"] == "Multiple unit dwelling";
                }).map(function(d){
                    return d.Price;
                });
                console.log(filtered);

                stats.push([beds,d3.min(filtered), d3.mean(filtered), d3.max(filtered)]);

            };


            var csv=stats.map(function(d){ return d.join(','); }).join('\n');
			var a=document.createElement('a');
			a.textContent='download';
			a.download="myFileName.csv";
			a.href='data:text/csv;charset=utf-8,'+escape(csv);
			document.body.appendChild(a);
			a.click();

        });

	</script>

    </body>
</html>



<!-- 

DOWNLOAD TABLE AS CSV


var tableSelector = "#table_listings";

var myTableArray = [];

$("table"+tableSelector+" tr").each(function() {
    var arrayOfThisRow = [];
    var tableData = $(this).find('td');
    if (tableData.length > 0) {
        tableData.each(function() { arrayOfThisRow.push( '"'+$(this).text()+'"' ); });
        myTableArray.push(arrayOfThisRow);
    }
});

for (var i = 0; i < myTableArray.length; i++) {
    for (var j = 0; j < myTableArray[i].length; j++) {
        myTableArray[i][j] = myTableArray[i][j].replace(/\s{3}/g,'').replace(/\n/g,'');
    };
};

var csv=myTableArray.map(function(d){ return d.join(','); }).join('\n');
var a=document.createElement('a');
a.textContent='download';
a.download="myFileName.csv";
a.href='data:text/csv;charset=utf-8,'+escape(csv);
document.body.appendChild(a);
a.click(); 

-->