<header id="top" role="banner">
    <div class="block">
        <h1 class="block-title">Michael Asher</h1>
        <a class="nav-btn" id="nav-open-btn" href="#nav">Book Navigation</a>
        <!-- TODO <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
    </div>
</header>

<nav id="nav" role="navigation">
    <div class="block">
        <h2 class="block-title">Chapters</h2>
        <ul>
          {% for page in site.pages %}
            {% if forloop.index == 1 %}
                {% if page.title %}<li><a class="is-active" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>{% endif %}

            {% else %}
                {% if page.title %}<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>{% endif %}
            {% endif %}


          {% endfor %}
        </ul>
        <a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
    </div>
</nav>
