<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/main.css" />

<!-- Johann's eg.
	on a 500k home
	
	rental income 26000
	interest (26000)
	land tax (5000)
	rates (1500)
	agent (1500)
	sundry (1000)
	tax credit for depreciation of capital works 2500

	Total (6500)
 -->
</head>
<body>

<!-- html goes here -->

<script type="text/template" id="explain_template">
<p>This is a tool to help you decide whether to buy or rent a house. We assume that you have the $<%= buying_cost.toFixed(0) %> per year, for the next <%= years.toFixed(0) %> years, to cover mortgage repayments, rates, and upkeep of the $<%= house_price.toFixed(0) %> house you intend to buy. 
The graphs below show two things.</p>
<ol> <li style="font-weight: bold; color: darkred;"> If you buy, how much your house would be worth once paid off after <%=years.toFixed(0) %> years. </li>
  <li style=" font-weight: bold; color: steelblue;"> If you rent, it show's had much you'd have saved after <%=years.toFixed(0) %> years if you put aside the annual $<%= (buying_cost-renting_cost).toFixed(0) %> difference between the $<%= buying_cost.toFixed(0) %> cost of home ownership, and the $<%= renting_cost.toFixed(0) %> cost of renting. </li>
</ol>

<p>You can change the values by dragging around the balls on the graphs.</p>

TODO: Capital gains on house value appreciation isn't taxed, interest is. We could add in salary growth and use excess to pay down mortgage sooner.

</script>

<div id="explain"></div>

<div id="graphs">
<div id="graph0" class="crossover-graph"></div>  
<div id="graph1" class="crossover-graph"></div>  
<div id="graph2" class="crossover-graph"></div>  
<div id="graph3" class="crossover-graph"></div>  
<div id="graph4" class="crossover-graph"></div>  
<div id="graph5" class="crossover-graph"></div>  
<div id="graph6" class="crossover-graph"></div>  
<div id="graph7" class="crossover-graph"></div>  
<div id="graph8" class="crossover-graph"></div>  
</div>
    


<script src="../../third/d3.min.js"></script>
<script src="../../third/jquery-1.11.0.min.js"></script>
<script src="../../third/underscore.min.js"></script>
<script src="../../third/backbone.old.js"></script>
<script src="js/main.js"></script>      
    
</body> 
</html>